<!----------------------- SIDEBAR ---------------------->

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" [(opened)]="sidenavAberta">
        <img id="logo" href="#" 
        src="https://i.ibb.co/wszdgT7/wise-erp-logo.png" 
        alt="wise-erp-logo">            
        <div id="fecharmenu">
            <button mat-raised-button color="primary">
                <mat-icon (click)="sidenav.toggle()">chevron_left</mat-icon>
            </button>
        </div>
        <mat-nav-list>
            <a href="#">
                <mat-list-item id="sair">Sair</mat-list-item>
            </a>
            <a href="/invoices">
                <mat-list-item id="invoices">WE_invoices</mat-list-item>
            </a>
            <a href="/clientes">
                <mat-list-item id="clientes">Consulta de Clientes</mat-list-item>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="abrirmenu">
            <button mat-raised-button color="primary">
                <mat-icon (click)="sidenav.toggle()">chevron_right</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
