body {
    margin: 0;
    padding: 0;
    background-image: url("http://wisesale.com.br/assets/images/banner/banner1.jpg");
    height: 800px;
}
section {
    background-color: #5275a1;
    padding: 2rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#entrar {
    border-radius: 1rem;
}