.content {
    margin: 5px;
}

.content form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content form mat-form-field, button {
    margin-left: 2%;
}

#card-total {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.detalhar {
    text-align: center;
    margin: 1% auto;
}

.card-detalhes {
    width: 100%;
    margin: 1%;
}

.card-detalhes mat-card {
    width: 27%;
    min-height: 150px;
    float: left;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-detalhes mat-card mat-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabela tr th, td {
    list-style: none; 
    border: solid 1px; 
    border-color: rgba(51, 51, 51, 0.3);
    border-radius: 5px; 
    margin-top: 1px; 
    text-align: justify; 
    padding: 1rem;
}

.tabela tr th:hover, td:hover {
    cursor: pointer;
    border-color: rgba(51, 51, 51, 1);
}