body {
    margin: 0;
    padding: 0;
}
form {
    background-color: white;
    border-radius: 1rem;
}
#logo {
    width: 85%;
    margin-left: 10%;
}
/* .mat-input-element {
    font: inherit;
    background: 0 0;
    color: white;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
} */
#mensagem {
    background-color: #e23939;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
}
#formulario {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    max-width: 90%;
    padding: 2rem;
}
#login, #senha, #botao-entrar {
    width: 100%;
}
#botao-entrar {
    margin-top: 1rem;
    border-radius: 0.5rem;
}
#mensagem {
    font-size: 1rem;
    text-align: center;
}
footer {
    background-color: #1e366c;
    text-align: center;
    padding: 1rem;
}
/* BREAKPOINTS */
@media screen and (max-width: 600px) {
    #formulario {
        margin-top: 17%;
    }
}
@media screen and (min-width: 992px) {
    #formulario {
        margin-top: 12%;
    }
}
