<mat-card style="margin-top: 10rem; margin-left: auto; margin-right: auto; width: 200px; text-align: center;">
    <mat-card-title>
        <p>Erro 404</p>
    </mat-card-title>
    <mat-card-content>
        <p>Página não encontrada!</p>
    </mat-card-content>
    <mat-card-footer style="margin: 2%;">
        <a routerLink="/login">
            <button mat-raised-button style="background-color: black; color:white">
                Voltar 
                <mat-icon>undo</mat-icon>
            </button>
        </a>
    </mat-card-footer>
</mat-card>