.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 210px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  #tema {
    width: 80%;
    margin: 10%;
    position: absolute;
    bottom: 0;
  }
  