<div id="content">

  
      
    

  <form id="formulario" [formGroup]="invoicesForm" (submit)="buscarTotalInvoices()">

    <mat-vertical-stepper id="stepper" linear #stepper>

      <!-- MARCA --> 
      <mat-step Control="invoicesForm" [completed]="selecionouMarca">
        <ng-template matStepLabel>Marca {{ brandName }}</ng-template>
        <!---------------- DDL MARCA ------------------->
        <mat-form-field id="marca">
          <mat-label>Marca</mat-label>
          <mat-select required class="form-group" formControlName="brand" placeholder="Marca" #marcaValue
            (selectionChange)="mudarMarca($event.value)">
            <mat-option *ngFor="let marca of marcas" (click)="brandName = marca.brand_name" [value]="marca.brand_Id">
              {{ marca.brand_name }}</mat-option>
          </mat-select>
          <mat-hint>Campo obrigatório</mat-hint>
        </mat-form-field>
      </mat-step>

      <!-- COLEÇÃO -->
      <mat-step [completed]="selecionouColecao">
        <ng-template matStepLabel>Coleção {{ collectionName }}</ng-template>
        <!---------------- DDL COLEÇÃO ------------------->
        <mat-form-field id="colecao">
          <mat-label>Coleção</mat-label>
          <mat-select required class="form-group" formControlName="collection" placeholder="Coleção" #colecaoValue
            (selectionChange)="mudarColecao($event.value)">
            <mat-option *ngFor="let colecao of colecoes" (click)="collectionName = colecao.collection_name"
              [value]="colecao.collection_Id">{{ colecao.collection_name }}</mat-option>
          </mat-select>
          <mat-hint>Campo obrigatório</mat-hint>
        </mat-form-field>
      </mat-step>

    </mat-vertical-stepper>

    
      <mat-accordion>
        <mat-expansion-panel [disabled]="outrosFiltros">
          <mat-expansion-panel-header>Outros Filtros</mat-expansion-panel-header>

          <!-- ORDENAR -->
            <!------------------------ DDL ORDENAR ------------------------------>
            <mat-form-field id="ordem">
              <mat-label>Ordenar</mat-label>
              <mat-select placeholder="Ordenar" #orderBy (selectionChange)="mudarOrdem($event.value)">
                <mat-option value="1">COLEÇÃO EM ORDEM CRESCENTE</mat-option>
                <mat-option value="2">COLEÇÃO EM ORDEM DECRESCENTE</mat-option>
                <mat-option value="3">DATA DE ENTRADA EM ORDEM CRESCENTE</mat-option>
                <mat-option value="4">DATA DE ENTRADA EM ORDEM DECRESCENTE</mat-option>
                <mat-option value="5">NÚMERO DO PEDIDO EM ORDEM CRESCENTE</mat-option>
                <mat-option value="6">NÚMERO DO PEDIDO EM ORDEM DECRESCENTE</mat-option>
                <mat-option value="7">A - Z</mat-option>
                <mat-option value="8">Z - A</mat-option>
              </mat-select>

            </mat-form-field>


          <!-- RAZÃO SOCIAL -->
            <!------------------------ CAMPO RAZÃO SOCIAL ------------------------->
            <mat-form-field id="razao-social" (keyup)="customerName = $event.target.value" (keyup)="buscarClientes()">
              <mat-label>Razão Social</mat-label>
              <input type="text" matInput [matAutocomplete]="autoCompleteRazao">
              <mat-autocomplete #autoCompleteRazao="matAutocomplete"
                (optionSelected)="mudarCustomerFabId($event.option.value.customerFab_Id)"
                (optionSelected)="mudarCompanyDoc($event.option.value.company_doc)" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente"
                  (click)="razaoSocial = cliente.customer_name">
                  {{ cliente.customer_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          <!-- CNPJ -->

            <!---------------------- CAMPO CNPJ ------------------------->
            <mat-form-field id="cnpj" (keyup)="companyDoc = $event.target.value">
              <mat-label>CNPJ</mat-label>
              <input type="text" matInput [value]="companyDoc">
            </mat-form-field>


          <!-- CÓDIGO -->
            <!---------------------- CAMPO CÓDIGO ------------------------->
            <mat-form-field id="codigo" (keyup)="customerFabId = $event.target.value">
              <mat-label>Código</mat-label>
              <input type="text" matInput [value]="customerFabId">
            </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

    

    <!--------------------- REPRESENTANTE --------------------->
    <!-- <mat-form-field id="repres">
        <mat-label>Representante</mat-label>
        <mat-select placeholder="Representante" #represValue (selectionChange)="mudarRepres($event.value)">
            <mat-option *ngFor="let repre of repres" 
            [value]="repre.agent_Id">{{ agentId }}</mat-option>
        </mat-select>
    </mat-form-field> -->

    <!---------------------- BOTAO PESQUISAR --------------------->
    <button mat-raised-button color="accent" id="botao-buscar" type="submit" [disabled]="invoicesForm.invalid">
      BUSCAR&nbsp;
      <mat-icon>search</mat-icon>
    </button>

  </form>

  <!--------------------- CARDS FATURAMENTOS ---------------------->
  <mat-card id="cardTotal" *ngIf="consultado" class="mat-elevation-z8">
    <mat-card-title>
      <mat-icon>monetization_on</mat-icon> Total
    </mat-card-title>
    <mat-card-content>
      <div id="cardTotalMedio">
        <strong>Qtde Fat:<br></strong> <p style="font-size: 1.4rem;">{{ total.sum_total_quantity_invoiced | number: '1.0-0' | replace:',':'.' }}</p>
      </div>
      <div id="cardTotalMedio">
      <strong>Vr Fat:<br></strong> <p style="font-size: 1.4rem;">{{ total.sum_total_price_invoiced&nbsp; | currency: 'BRL' : 'R$&nbsp;' : '1.0-0' | replace:',':'.' | replace:',':'.' }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <div id="botao-mostrar-todos" *ngIf="consultado && buscaInvoicesDetalhado">
    <mat-slide-toggle color="accent" [(ngModel)]="mostrarTodosOsFaturamentos" (toggleChange)="buscarInvoices()">
      <span style="font-weight: bold; font-size: 1.2rem;">
        Detalhar
      </span>
    </mat-slide-toggle>
  </div>

  <div *ngIf="mostrarTodosOsFaturamentos">
    <mat-card id="cardsFaturamentos" *ngFor="let invoice of invoices" class="mat-elevation-z8">
      <mat-card-title id="cardsFaturamentosGrande">
        <mat-icon color="primary">account_box</mat-icon> {{ invoice.customer_name }}
      </mat-card-title>
      <mat-card-content>
        <div id="cardsFaturamentosGrande"><mat-icon color="primary">work</mat-icon><strong> NF: </strong>{{ invoice.invoice }} - {{ invoice.dt_invoice }}</div>
        <div id="cardsFaturamentosMedio"><strong>Ped Linx:</strong> {{ invoice.orderFactory_Id }}</div>
        <div id="cardsFaturamentosMedio"><strong>Ped Wise:</strong> {{ invoice.order_Id }}</div>
        <div id="cardsFaturamentosPequeno">
          <strong>Ped:<br></strong>{{ invoice.total_quantity | number:'1.0-0' | replace:',':'.' }}</div>
        <div id="cardsFaturamentosPequeno">
          <strong>Emb:<br></strong>{{ invoice.packed_quantity | number:'1.0-0' | replace:',':'.' }}</div>
        <div id="cardsFaturamentosPequeno">
          <strong>Fat:<br></strong>{{ invoice.total_quantity_invoiced | number:'1.0-0' | replace:',':'.' }}</div>
        <div id="cardsFaturamentosPequeno">
          <strong>%<br></strong>{{ invoice.total_quantity_invoiced / invoice.total_quantity * 100 | number: '1.0-0' | replace:',':'.' }}
        </div>
        <div id="cardsFaturamentosPequeno">
          <strong>Ped:<br></strong>{{ invoice.total_price | currency: 'BRL' : 'R$&nbsp;' : '1.0-0' | replace:',':'.' }}
        </div>
        <div id="cardsFaturamentosPequeno">
          <strong>Emb:<br></strong>{{ invoice.packed_price | currency: 'BRL' : 'R$&nbsp;' : '1.0-0' | replace:',':'.' }}
        </div>
        <div id="cardsFaturamentosPequeno">
          <strong>Fat:<br></strong>{{ invoice.total_price_invoiced | currency: 'BRL' : 'R$&nbsp;' : '1.0-0' | replace:',':'.' }}
        </div>
        <div id="cardsFaturamentosPequeno">
          <strong>%<br></strong>{{ invoice.total_price_invoiced / invoice.total_price * 100 | number: '1.0-0' | replace:',':'.' }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>