<html>
    <head>
    </head>
    <body>

        <!-- SIDEBAR -->
        <div class="sidebar">
            <img id="logo" href="#" src="https://i.ibb.co/wszdgT7/wise-erp-logo.png" alt="wise-erp-logo"/>            
            <a href="#">Sair</a>
            <a href="/invoices">WE_invoices</a>
        </div>

        <!-- CONTENT -->
        <div id="content" class="row">
            <h6 id="titulo" class="flow-text">WE_invoices</h6>
                 
                <!-- FORM -->
                <div id="formulario">
                    <div class="input-field col s8 m7 l4 offset-m1 offset-l3">
                        <input id="buscar" 
                        class="input-field inline" 
                        type="text"
                        (keyup)="cnpjDigitado = $event.target.value">
                        <label for="buscar">Consultar CNPJ</label>
                        <span class="helper-text">Digite apenas números</span>
                    </div>
                    
                    <!-- BUTTON -->
                    <a id="botao-buscar" 
                    type="submit" 
                    class="waves-effect waves-light btn col s4 m3 l2"
                    (click)="company_doc = cnpjDigitado"
                    (click)="buscarCnpj()">
                    <i class="material-icons right">search</i>Buscar</a>
                </div>            

                <!-- TABLE -->
                <div class="col s12 m10 l8 offset-m1 offset-l2">
                    <table id="tabela" class="highlight">
                        <thead>
                            <tr id="titulos-tabela">
                                <th id="razao_social">NOME FANTASIA</th>
                                <th id="cnpj">CLIFOR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id=""> {{ clientes.customer_name }} </td>
                                <td id=""> {{ clientes.customerFab_Id }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>

    </body>

</html>