/* ==================== NORMALIZE ===================== */
* {
    margin: 0;
    padding: 0;
}

/* ============== SIDEBAR ============== */
mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 1rem;
}
mat-sidenav {
  background-color: white;
  width: 300px;
  max-width: 100%;
}
#logo {
  width: 180px;
  float: left;
}
#logo2 {
  width: 230px;
  float: right;
}
mat-nav-list {
  margin-top: 3rem;
}
#invoices, #sair {
  color: black;
}
#fecharmenu {
  float: right;
  text-align: right;
}

/* ===================== CONTENT ======================= */
body {
    width: 100%;
    background-color: #fff;
}
#content {
    padding: 5px;
}
#abrirmenu {
  float: left;
  position: fixed;
  z-index: 1;
}
#marca, #colecao, #repres, #cnpj, #botao-buscar, #filtro {
  width: 100%;
}
#marca, #botao-buscar, #filtro {
  margin-top: 2rem;
}
#tabela {
  width: 100%;
  height: 500px;
}

/* ============================ DROPDOWNS =================================== */

mat-grid-tile {
  font-size: xx-small;
}

/* =========================== FORM DE CNPJ ============================== */

/* ========================== BREAKPOINTS - REPONSIVIDADE ========================== */

/* ============== APARELHOS MÉDIOS - TABLETS E MONITORES PEQUENOS ===================== */
@media screen and (max-width: 700px) {
  .example-container {
    height: 100px;
  }
}
  
/* ========================== APARELHOS PEQUENOS - SMARTPHONES ======================== */
@media screen and (max-width: 400px) {
  .example-container {
    height: 50px;
  }
}
