/* ==================== NORMALIZE ===================== */
* {
    margin: 0;
    padding: 0;
}

/* ============== SIDEBAR ============== */
mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 1rem;
}

mat-sidenav {
  background-color: white;
  width: 300px;
  max-width: 100%;
}

#logo {
  width: 180px;
  float: left;
}

#logo2 {
  width: 230px;
  float: right;
}

mat-nav-list {
  margin-top: 3rem;
}

#invoices, #sair {
  color: black;
}

#fecharmenu {
  float: right;
  text-align: right;
}

/* ===================== CONTENT ======================= */
body {
    width: 100%;
    background-color: #fff;
}

#content {
    padding: 5px;
}

#abrirmenu {
  float: left;
  position: fixed;
  z-index: 1;
}

#marca, #colecao, #repres, #ordem {
  width: 48%;
}

#colecao, #ordem {
  margin-left: 4%;
}

#botao-buscar {
  width: 100%
}

#marca, #colecao, #botao-buscar {
  margin-top: 3rem;
}

#razao-social {
  width: 55%;
}

#cnpj-codigo {
  width: 40%;
  margin-left: 4%;
}

/* ============================ DROPDOWNS =================================== */

/* =========================== CARDS ============================== */

#card-subdiv {
  font-size: x-small;
  width: 25%;
  float: left;
  text-align: center;
}

/* ========================== BREAKPOINTS - REPONSIVIDADE ========================== */

/* ============== APARELHOS MÉDIOS - TABLETS E MONITORES PEQUENOS ===================== */
@media screen and (max-width: 700px) {
  .example-container {
    height: 100px;
  }
}
  
/* ========================== APARELHOS PEQUENOS - SMARTPHONES ======================== */
@media screen and (max-width: 400px) {
  .example-container {
    height: 50px;
  }
}
