body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #83C3FF, #5994FF); 
    height: 800px;
}
section {
    background-color: #5275a1;
    padding: 2rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#entrar {
    border-radius: 1rem;
}
#login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: black;
    text-align: center;
    padding: 1rem;
}
