<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a routerLink="/login"><img style="width: 100%;" src="../../assets/logo.png"></a></mat-toolbar>
    <mat-nav-list>
      <a routerLink="/login">
        <mat-list-item id="sair"><mat-icon>home</mat-icon> Inicio</mat-list-item>
    </a>
    <a routerLink="/invoices">
        <mat-list-item id="invoices"><mat-icon>assessment</mat-icon> Faturamentos</mat-list-item>
    </a>
    <a routerLink="/invoices">
      <mat-list-item id="invoices"><mat-icon>monetization_on</mat-icon> Duplicatas</mat-list-item>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: black">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="color: white" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white;">Wise ERP - Faturamentos</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-invoices></app-invoices>
  </mat-sidenav-content>
</mat-sidenav-container>
